---

---

<div
  class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8"
  id="about"
>
  <div class="max-w-4xl">
    <p
      class="text-base/7 font-semibold text-indigo-700"
    >
      Sobre nosotros
    </p>
    <h1
      class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl"
    >
      Comprometidos con el desarrollo de
      industrias esenciales
    </h1>
    <p
      class="mt-6 text-balance text-xl/8 text-gray-700 text-justify"
    >
      En TECNA CORP, nos dedicamos a brindar
      soluciones integrales de ingeniería y
      tecnología para los sectores de Energía, Oil
      & Gas y Minería. Nuestra misión es acompañar
      a nuestros clientes en cada etapa de sus
      proyectos, desde el diseño conceptual, la
      ingeniería básica y de detalle de las
      instalaciones hasta su puesta en marcha,
      operación y mantenimiento. Contribuyendo al
      crecimiento y desarrollo sostenible en
      Latinoamérica y más allá. Con mas de <span
        class="font-semibold"
      >
        100 proyectos
      </span> ejecutados en mas de 20 años de trayectoria
    </p>
  </div>
  <section
    class="mt-20 grid grid-cols-1 lg:grid-cols-2 lg:gap-x-8 lg:gap-y-16"
  >
    <div class="lg:pr-8">
      <div class="py-2">
        <div class="flex">
          <img
            src="assets/img/iconos/Mision.webp"
            alt="Mision tecnaCorp icon"
            height={40}
            width={40}
          />
          <h2
            class="text-pretty text-2xl font-semibold tracking-tight text-gray-900"
          >
            Nuestra Misión
          </h2>
        </div>
        <p
          class="my-6 text-base/7 text-gray-600 text-justify"
        >
          TECNA CORP se enfoca en ser una empresa
          duradera que ofrece a sus clientes
          soluciones integrales, innovadoras y de
          alta calidad. Nuestro objetivo es
          potenciar los negocios de nuestros
          clientes para que alcancen sus metas,
          proporcionando servicios que contribuyan
          al desarrollo global.
        </p>
      </div>
      <div class="py-2">
        <div class="flex">
          <img
            src="assets/img/iconos/vision.webp"
            alt="Vision tecnaCorp icon"
            height={40}
            width={40}
          />
          <h2
            class="text-pretty text-2xl font-semibold tracking-tight text-gray-900"
          >
            Nuestra Visión
          </h2>
        </div>
        <p
          class="my-6 text-base/7 text-gray-600 text-justify"
        >
          Nos proyectamos hacia el futuro como
          líderes en servicios de ingeniería para
          las industrias de Energía y Extractivas.
          Sabemos que el éxito de nuestros
          clientes es clave, y nos comprometemos a
          entender y responder a sus necesidades
          con soluciones sostenibles y efectivas.
          Queremos ser la mejor opción para
          nuestros clientes en cualquier parte del
          mundo.
        </p>
      </div>
      <div class="py-2">
        <div class="flex">
          <img
            src="assets/img/iconos/valores.webp"
            alt="Valores tecnaCorp icon"
            height={40}
            width={40}
          />
          <h2
            class="text-pretty text-2xl font-semibold tracking-tight text-gray-900"
          >
            Nuestros Valores
          </h2>
        </div>

        <p
          class="mt-6 text-base/7 text-gray-600 text-justify"
        >
          En TECNA CORP valoramos el trabajo en
          equipo, la integridad, la
          responsabilidad social y el respeto al
          medio ambiente. Estos valores nos guían
          para brindar resultados innovadores y
          sostenibles, mientras fomentamos un
          ambiente de diversidad e inclusión en
          todos nuestros proyectos.
        </p>
      </div>
    </div>
    <div
      class="pt-16 lg:row-span-2 lg:-mr-16 xl:mr-auto"
    >
      <div
        class="-mx-8 grid grid-cols-2 gap-4 sm:-mx-16 sm:grid-cols-4 lg:mx-0 lg:grid-cols-2 lg:gap-4 xl:gap-8"
      >
        <div
          class="aspect-square overflow-hidden rounded-xl shadow-xl outline-1 -outline-offset-1 outline-black/10"
        >
          <img
            alt=""
            src="/assets/img/about/1.webp"
            class="block size-full object-cover"
          />
        </div>
        <div
          class="-mt-8 aspect-square overflow-hidden rounded-xl shadow-xl outline-1 -outline-offset-1 outline-black/10 lg:-mt-40"
        >
          <img
            alt=""
            src="/assets/img/about/5.webp"
            class="block size-full object-cover"
          />
        </div>
        <div
          class="aspect-square overflow-hidden rounded-xl shadow-xl outline-1 -outline-offset-1 outline-black/10"
        >
          <img
            alt=""
            src="/assets/img/about/3.webp"
            class="block size-full object-cover"
          />
        </div>
        <div
          class="-mt-8 aspect-square overflow-hidden rounded-xl shadow-xl outline-1 -outline-offset-1 outline-black/10 lg:-mt-40"
        >
          <img
            alt=""
            src="/assets/img/about/4.webp"
            class="block size-full object-cover"
          />
        </div>
      </div>
    </div>
  </section>
</div>
