<div
  class="mx-auto max-w-7xl px-6 lg:px-8"
  id="RH"
>
  <div
    class="mx-auto grid max-w-2xl grid-cols-1 items-start gap-x-8 gap-y-16 sm:gap-y-24 lg:mx-0 lg:max-w-none lg:grid-cols-2"
  >
    <div class="lg:pr-4">
      <div
        class="relative overflow-hidden rounded-3xl bg-gray-900 px-6 pb-9 pt-64 shadow-2xl sm:px-12 lg:max-w-lg lg:px-8 lg:pb-8 xl:px-10 xl:pb-10"
      >
        <img
          class="absolute inset-0 h-full w-full object-cover brightness-125 saturate-0"
          src="/assets/img/about/plantaRH.webp"
          alt=""
        />
        <div
          class="absolute inset-0 bg-gray-700 mix-blend-multiply"
        >
        </div>
        <div
          class="absolute left-1/2 top-1/2 -ml-16 -translate-x-1/2 -translate-y-1/2 transform-gpu blur-3xl"
          aria-hidden="true"
        >
          <div
            class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-primary to-secondary opacity-40"
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
          >
          </div>
        </div>
        <figure class="relative isolate">
          <blockquote
            class="mt-6 text-xl/8 font-semibold text-white text-justify"
          >
            <p>
              “En TECNA CORP, valoramos el talento
              y la dedicación de cada miembro de
              nuestro equipo. Creemos en el
              desarrollo continuo, el aprendizaje
              constante y en el fortalecimiento de
              habilidades para enfrentar los retos
              del futuro.”
            </p>
          </blockquote>
          <figcaption
            class="mt-6 text-sm/6 text-gray-300"
          >
            <strong
              class="font-semibold text-white"
              >Equipo de Recursos Humanos,
            </strong>TECNA CORP
          </figcaption>
        </figure>
      </div>
    </div>
    <div>
      <div
        class="text-base/7 text-gray-700 lg:max-w-lg"
      >
        <p
          class="text-base/7 font-semibold text-secondary"
        >
          Recursos Humanos
        </p>
        <h1
          class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl"
        >
          En una misión para apoyar el desarrollo
          del talento humano
        </h1>
        <div class="max-w-xl">
          <p class="mt-6 text-justify">
            TECNA CORP cuenta con líderes de vasta
            experiencia en proyectos de gran
            envergadura. Valoramos el conocimiento
            y la experiencia de nuestro equipo,
            invirtiendo en personal clave con
            proyección internacional para
            fortalecer nuestros servicios.
          </p>
          <p class="mt-8 text-justify">
            Nuestra política de recursos humanos
            se basa en la capacitación continua y
            en evaluaciones periódicas para
            identificar áreas de mejora. Esto nos
            permite optimizar el desempeño y
            preparar a nuestro equipo para
            afrontar retos futuros.
          </p>
          <p class="mt-8 text-justify">
            Fomentamos un ambiente laboral
            flexible, promoviendo el equilibrio
            entre vida laboral y personal, lo que
            potencia las capacidades y el
            compromiso de nuestros colaboradores.
          </p>
        </div>
      </div>
      <dl
        class="mt-10 grid grid-cols-2 gap-8 border-t border-gray-900/10 pt-10 sm:grid-cols-4 items-end"
      >
        <div>
          <dt
            class="text-sm/6 font-semibold text-gray-600"
          >
            Empleados
          </dt>
          <dd
            class="mt-2 text-3xl/10 font-bold tracking-tight text-gray-900 text-bottom"
          >
            +350
          </dd>
        </div>
        <div>
          <dt
            class="text-sm/6 font-semibold text-gray-600 text-nowrap"
          >
            Países en operación
          </dt>
          <dd
            class="mt-2 text-3xl/10 font-bold tracking-tight text-gray-900"
          >
            4
          </dd>
        </div>
        <div>
          <dt
            class="text-sm/6 font-semibold text-gray-600 text-nowrap
"
          >
            Horas/Año Ingeniería
          </dt>
          <dd
            class="mt-2 text-3xl/10 font-bold tracking-tight text-gray-900"
          >
            +300mil
          </dd>
        </div>
        <div>
          <dt
            class="text-sm/6 font-semibold text-gray-600"
          >
            Horas/año OyM
          </dt>
          <dd
            class="mt-2 text-3xl/10 font-bold tracking-tight text-gray-900"
          >
            +350mil
          </dd>
        </div>
      </dl>
      <div class="mt-10 flex">
        <a
          href="sobrenosotros/trabajaconnosotros"
          class="text-base/7 font-semibold text-secondary-light"
          >Sumate al equipo de TECNA CORP<span
            aria-hidden="true">&rarr;</span
          ></a
        >
      </div>
    </div>
  </div>
</div>
