---
export interface Props {
  pTop?: boolean;
  pBottom?: boolean;
}

const { pTop = false, pBottom = false } = Astro.props;

const paddingClass =
  pTop && pBottom
    ? "py-24 sm:py-32" // Cuando ambos son true, se aplica padding arriba y abajo
    : pTop
      ? "pt-24 sm:pt-32" // Solo padding en la parte superior
      : pBottom
        ? "pb-24 sm:pb-32" // Solo padding en la parte inferior
        : ""; // Si ambos son falsos, no hay padding
---

<section class={paddingClass}>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <slot />
  </div>
</section>
