<div class="flex justify-center relative">
  <img src="/assets/img/map2.png" alt="World Map" class="w-full max-w-4xl" />

  <!-- Argentina hover area -->
  <div
    class="absolute top-[83%] left-[33%] cursor-pointer w-[20px] h-[20px] group"
  >
    <!-- Border for the clickable area (optional) -->
    <div class="border w-full h-full"></div>

    <!-- Popup -->
    <div
      class="hidden bg-white border border-gray-300 p-2 shadow-lg absolute -top-10 left-5 text-xs group-hover:block"
    >
      This is Argentina!
    </div>
  </div>
</div>
