---
// LogoGrid.astro
interface Logo {
  src: string;
  alt: string;
}

const logos: Logo[] = [
  {
    src: "/assets/img/logos/1.webp",
    alt: "Logo oficial",
  },
  {
    src: "/assets/img/logos/5.webp",
    alt: "logo latinoAmerica",
  },
  {
    src: "/assets/img/logos/7.webp",
    alt: "logo Ecuador",
  },
  {
    src: "/assets/img/logos/9.webp",
    alt: " logo Bolivia",
  },
];
---

<div class="mt-2 px-6 lg:px-8">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <div
        class="mx-auto mt-8 grid grid-cols-4 items-start gap-x-8 gap-y-10 sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:grid-cols-4"
      >
        {
          logos.map((logo) => (
            <img
              class="col-span-2 max-h-24 w-full object-contain object-center lg:col-span-1"
              src={logo.src}
              alt={logo.alt}
            />
          ))
        }
      </div>
    </div>
  </div>
</div>
