---
import Layout from "../layouts/Layout.astro";
const items = [
  "INGENIERÍA",
  "PLANTAS LLAVE EN MANO",
  "PLANTAS MODULARES",
  "GERENCIAMIENTO DE PROYECTOS",
  "INSPECCIÓN / FISCALIZACIÓN DE PROYECTOS",
  "AUTOMATIZACIÓN Y CONTROL",
  "OPERACIÓN Y MANTENIMIENTO",
];
---

<Layout title="TECNA Corp - Proyectos Oil&Gas y Energía">
  <main class="text-white h-[5000px]">
    <div class="relative w-full">
      <img
        src="/assets/img/home.webp"
        alt="TECNA Corp"
        class="w-full h-full object-cover absolute mix-blend-overlay object-bottom"
      />
      <div class="relative flex z-10">
        <div
          class="animate-slideIn py-10 md:py-36 md:pr-40 lg:py-56 lg:pr-[50rem]"
        >
          <h2 class="text-2xl p-8 md:p-16 md:text-4xl">
            <span class="font-bold"> TECNA Corp. </span>
            nos especializamos en la ejecución de proyectos en el sector Oil&Gas
            y Energía.
          </h2>
        </div>
      </div>
    </div>
  </main>
</Layout>
