@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos adicionales para ajustes globales */
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", system-ui, sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}
