---
import MapSVG from "../../../public/assets/img/map.svg";

const location = [
  {
    country: "Argentina",
    empresa: "assets/img/logos/5.webp",
    style:
      "top-[65%] left-[23%] lg:top-[64%] lg:left-[21%]",
  },
  {
    country: "Bolivia",
    empresa: "assets/img/logos/9.webp",
    style:
      "top-[61%] left-[18%] lg:top-[61%] lg:left-[17%]",
  },
  {
    country: "Ecuador",
    empresa: "assets/img/logos/7.webp",
    style:
      "top-[44%] left-[13%] lg:top-[43%] lg:left-[13%]",
  },
  {
    country: "España",
    empresa: "assets/img/logos/1.webp",
    style:
      "top-[8%] left-[58%] lg:top-[5.2%] lg:left-[59%]",
  },
  {
    country: "Peru",
    empresa: "assets/img/logos/5.webp",
    style:
      "top-[52%] left-[18%] lg:top-[51%] lg:left-[17%]",
  },
];
---

<div
  class="w-full max-w-full m-0 mx-auto relative p-4"
>
  <MapSVG
    fill="#023671"
    class="w-full h-full object-contain rounded-xl"
  />
  {
    location.map((empresa) => {
      return (
        <div
          aria-label={empresa.country}
          class={`absolute bg-primary w-2 h-2 lg:w-4 lg:h-4 rounded-2xl group  ${empresa.style}`}
        >
          <div class="before:content-[''] before:bg-primary-light before:absolute before:top-1/2 before:left-1/2 before:transform before:-translate-x-1/2 before:-translate-y-1/2 before:w-full before:h-full before:rounded-full before:animate-pulso">
            {/* Tooltip visible solo al hover */}
            <div class="hidden lg:group-hover:inline-block whitespace-nowrap absolute left-6 top-1/2 -translate-y-1/2 bg-primary-contrast rounded p-1 text-sm animate-fadeIn">
              <img
                src={empresa.empresa}
                class="max-w-16 lg:max-w-[150px] h-auto"
                alt=""
              />
            </div>
          </div>
        </div>
      );
    })
  }
</div>
